:root {
  --color-text-main: #2c2c2c;
  --color-text-link-current: #bbf330;
  --color-text-link-hover-focus: #bbf330;
  --color-text-addition-link: #7eb101;
  --color-text-addition-link-hover-focus: #ffe450;
  --color-bg-btn: #bbf330;
  --color-bg-btn-hover-focus: #ffe450;
  --color-bg-btn-white: #ffffff;
  --color-bg-btn-white-hover-focus: #bbf330;
  --color-bg-body: #fefefe;
  --color-bg-offerings-icon: #fefefe;
  --color-bg-customers-item: #fefefe;
  --color-bg-input: #fefefe;
  --color-brd-input: #ffe550;
  --color-brd-img: #ffe550;
  --color-brd-customers-card-info: #7eb101;
  --color-brd-btn-white: #7eb101;
  --color-brd-input: #ffe550;
}
h1,
h2,
h3 {
  margin: 0;
}
p {
  margin: 0;
}
body {
  font-family: "Roboto";
  color: var(--color-text-main);
  font-size: 16px;
  background-color: var(--color-bg-body);
}
button {
  border: none;
  color: inherit;
  cursor: pointer;
  border-radius: 30px;
  font-size: 13px;
  line-height: 1.5;
}
svg {
  display: block;
}
img {
  display: block;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

/* ======== COMPONENTS ======== */
.nav {
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
  column-gap: 28px;
}
.nav__link {
  display: block;
  padding: 26px 0;
  transition-property: color;
  transition-duration: 500ms;
}
.nav__link:hover,
.nav__link:focus {
  color: var(--color-text-link-hover-focus);
}
.bg-btn-color {
  background-color: var(--color-bg-btn);
  transition-property: background-color;
  transition-duration: 500ms;
}
.subtitle {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
}
.bg-btn-color:hover,
.bg-btn-color:focus {
  background-color: var(--color-bg-btn-hover-focus);
}
.bg-btn-white {
  background-color: var(--color-bg-btn-white);
  transition-property: background-color, border;
  transition-duration: 500ms;
}
.bg-btn-white:hover,
.bg-btn-white:focus {
  background-color: var(--color-bg-btn-white-hover-focus);
}
.subscribe-form-input {
  background-color: var(--color-bg-input);
  border: 0.854167px solid var(--color-brd-input);
  outline-style: none;
  border-radius: 30px;
}
.subscribe-form-input::placeholder {
  font-size: 12px;
  line-height: 1.5;
}

/* ======== /COMPONENTS ======== */

/* ======== HEADER ======== */
.header {
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}
.header__inner {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.header__logo {
  padding: 10px 0;
}
.header__nav {
  flex-grow: 1;
}
.header__nav-list {
  margin-left: auto;
}
.nav-current {
  color: var(--color-text-link-current);
  text-decoration: underline;
}
.header__btn {
  flex-grow: 0;
  padding: 6px 18px;
}
/* ======== /HEADER ======== */

/* ======== HERO ======== */

.hero__inner {
  margin-bottom: -140px;
  display: flex;
  padding-top: 16px;
}
.hero__info {
  padding-top: 144px;
  flex-grow: 1;
}
.hero__info-title {
  margin-bottom: 28px;
  max-width: 502px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
}
.hero__info-text {
  margin-bottom: 40px;
  max-width: 511px;
  font-size: 16px;
  line-height: 1.5;
}
.hero__btn {
  padding: 6px 18px;
}
.hero__img {
  flex-grow: 0;
  border: 26px solid var(--color-brd-img);
  border-radius: 50%;
}
/* ======== /HERO ======== */

/* ======== OFFERINGS ======== */
.offerings {
  background-image: url(../images/hero/bg.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
}
.offerings__inner {
  padding-top: 175px;
  padding-bottom: 43px;
  display: flex;
}

.offerings__info {
  padding-top: 72px;
  margin-left: auto;
  margin-right: 35px;
}
.offerings__info-title {
  margin-bottom: 20px;
  max-width: 526px;
}
.offerings__info-text {
  margin-bottom: 40px;
  line-height: 1.5;
  max-width: 500px;
}
.offerings__list {
  margin-bottom: 32px;
  display: flex;
  column-gap: 67px;
}
.offerings__item {
  max-width: 253px;
}
.offerings__item::before {
  margin-bottom: 16px;
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  background-color: var(--color-bg-offerings-icon);
  border-radius: 50%;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center;
}
.rocket::before {
  content: "";
  background-image: url("../images/icons/rocket.svg");
}
.click::before {
  content: "";
  background-image: url("../images/icons/click.svg");
}
.offerings__item-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
}
.offerings__item-text {
  font-size: 14px;
  line-height: 1.5;
}
.offerings__btn {
  padding: 10px 22px;
  border: 2px solid var(--color-brd-btn-white);
}
.offerings__btn:hover,
.offerings__btn:focus {
  border: 2px solid transparent;
}
/* ======== /OFFERINGS ======== */

/* ======== FAVORITES ======== */
.favorites__inner {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.favorites__title {
  margin-bottom: 20px;
}
.favorites__text {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 40px;
}
.favorites__list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.favorites__item-img {
  padding: 25px 24px;
  border: 16px solid var(--color-brd-img);
  border-radius: 197.5px;
}
/* ======== /FAVORITES ======== */

/* ======== CUSTOMERS ======== */
.customers {
  background-image: url(../images/customers/bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
}
.customers__inner {
  padding-top: 100px;
  padding-bottom: 200px;
  margin-bottom: -80px;
}
.customers__title {
  margin-bottom: 20px;
}
.customers__text {
  margin-bottom: 32px;
  line-height: 1.2;
}
.customers__list {
  display: flex;
  column-gap: 139px;
}
.customers__item {
  padding: 14px;
  background-color: var(--color-bg-customers-item);
  border-radius: 30px;
  border-top-left-radius: 0;
  max-width: 501px;
}
.customers__stars-list {
  margin-bottom: 28px;
  display: flex;
  column-gap: 4px;
}
.customers__stars-item {
  width: 17px;
  height: 16px;
  background-image: url(../images/icons/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px 16px;
}
.customers__item-text {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
}
.customers__card {
  display: flex;
  column-gap: 16px;
  align-items: center;
}
.customers__card-info {
  padding-right: 16px;
  border-right: 1px solid var(--color-brd-customers-card-info);
}
.customers__card-title {
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}
.customers__card-text {
  font-size: 14px;
  line-height: 1.5;
}
/* ======== /CUSTOMERS ======== */

/* ======== SUBSCRIBE ======== */
.subscribe__inner {
  display: flex;
}
.subscribe__info {
  padding-top: 46px;
  padding-bottom: 36px;
  flex-basis: 639px;
}
.subscribe__info-title {
  margin-bottom: 20px;
}
.subscribe__info-text {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.5;
  max-width: 518px;
}
.subscribe__form-input {
  margin-right: 32px;
  padding: 12px;
  min-width: 384px;
}
.subscribe__form-btn {
  padding: 11px 22px;
  font-weight: 500;
  line-height: 1.5;
}
/* ======== /SUBSCRIBE ======== */

/* ======== FOOTER ======== */
.footer {
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
}
.footer__inner {
  background-image: url(../images/footer/bg.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
}
.footer__functional {
  padding-top: 100px;
  padding-bottom: 80px;
  display: flex;
}
.footer__nav-list {
  margin-left: 148px;

}

.footer__nav-link {
  padding: 19px 0;
}
.footer__nav {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}
.footer__subscribe {
  flex-grow: 0;
}
.footer__subscribe-title {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 1.5;
}
.footer__form-input {
  padding: 12px;
  min-width: 279px;
}
.footer__form-btn {
  padding: 11px 22px;
  margin-left: 13px;
  border: 0.854167px solid var(--color-brd-btn-white);
  transition-property: background-color, border;
  transition-duration: 500ms;
}
.footer__form-btn:hover,
.footer__form-btn:focus {
  border: 0.854167px solid transparent;
}
.footer__subscribe-form {
  margin-bottom: 12px;
}
.footer__subscribe-info {
  font-size: 12px;
  line-height: 1.17;
}
.footer__addition-info {
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 1.17;
}
.footer__info-list {
  display: flex;
  column-gap: 20px;
}
.footer__addition-link {
  color: var(--color-text-addition-link);
  text-decoration: underline;
  transition-property: color;
  transition-duration: 500ms;
}
.footer__addition-link:hover,
.footer__addition-link:focus {
  color: var(--color-text-addition-link-hover-focus);
}
/* ======== /FOOTER ======== */
