@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-bold.ttf") format("truetype");
  font-weight: 700;
}
h1,
h2,
h3 {
  margin: 0;
}
p {
  margin: 0;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}

.img {
  display: block;
}
